<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eatwhat.dao.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.eatwhat.entity.Category">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        category_name,
        create_time,
        update_time
    </sql>

    <!--根据id查询-->
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from category
        where id = #{recordId}
    </select>


    <!--根据id集合查询-->
    <select id="findByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
        <if test="category !=null">
            <where>
                <if test="category.id != null">AND id = #{category.id}</if>
                <if test="category.categoryName != null and category.categoryName !='' ">AND category_name like CONCAT('%',#{category.categoryName},'%')</if>
                <if test="category.createTime != null">AND create_time = #{category.createTime}</if>
                <if test="category.updateTime != null">AND update_time = #{category.updateTime}</if>
            </where>
        </if>
        <if test="pageRequest != null">
            <choose>
                <when test="pageRequest.sortList != null">
                    <foreach collection="pageRequest.sortList" open="order by" item="sort" separator=",">
                    ${sort.jdbcField} ${sort.sortType}
                    </foreach>
                </when>
                <otherwise>
                    order by id desc
                </otherwise>
            </choose>
            <if test="pageRequest.offset != null and pageRequest.pageSize != null">
                limit #{pageRequest.offset}, #{pageRequest.pageSize}
            </if>
        </if>
    </select>


    <!--根据参数分页查询-->
    <select id="findByIdArr" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM category
        WHERE id IN
        <foreach collection="idArr" open="(" close=")" item="recordId" separator=",">
            #{recordId}
        </foreach>
    </select>


    <!--根据条件计数-->
    <select id="count" resultType="int">
        SELECT
        COUNT(id)
        FROM category
            <where>
                <if test="id != null">AND id = #{id}</if>
                <if test="categoryName != null and categoryName !='' ">
                    AND category_name like CONCAT('%',#{categoryName},'%')
                </if>
                <if test="createTime != null">AND create_time = #{createTime}</if>
                <if test="updateTime != null">AND update_time = #{updateTime}</if>
            </where>
    </select>


    <!--添加-->
    <insert id="saveCategory" parameterType="com.eatwhat.entity.Category" useGeneratedKeys="true"
            keyProperty="id">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName !=''">
                category_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName !=''">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <!--修改-->
    <update id="updateCategory" parameterType="com.eatwhat.entity.Category">
        update category
        <set>/
            <if test="categoryName != null and categoryName !=''">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM category
        WHERE id = #{recordId}
    </delete>


    <!--根据id集合删除-->
    <delete id="deleteByIdArr">
        DELETE FROM category
        WHERE id IN
        <foreach collection="idArr" open="(" close=")" item="recordId" separator=",">
            #{recordId}
        </foreach>
    </delete>

</mapper>