<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eatwhat.dao.FoodsMapper">
    <resultMap id="BaseResultMap" type="com.eatwhat.entity.Foods">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="foods_name" property="name" jdbcType="VARCHAR"/>
        <result column="foods_price" property="price" jdbcType="DECIMAL"/>
        <result column="foods_image" property="image" jdbcType="VARCHAR"/>
        <result column="category_id" property="categoryId" jdbcType="BIGINT"/>
        <result column="shops_id" property="shopsId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="FoodsVoMap" type="com.eatwhat.entity.food.FoodsVo">
        <result column="foods_name" property="name" jdbcType="VARCHAR"/>
        <result column="foods_price" property="price" jdbcType="DECIMAL"/>
        <result column="foods_image" property="image" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        foods_name,
        foods_price,
        foods_image,
        category_id,
        shops_id,
        create_time,
        update_time
    </sql>
    <sql id="Vo_Column_List">
        id,
        foods_name,
        foods_price,
        foods_image,
        update_time
    </sql>

    <!--根据id查询-->
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from foods
        where id = #{recordId}
    </select>


    <!--添加-->
    <insert id="saveFoods" parameterType="com.eatwhat.entity.Foods" useGeneratedKeys="true"
            keyProperty="id">
        insert into foods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name !=''">
                foods_name,
            </if>
            <if test="price != null">
                foods_price,
            </if>
            <if test="score != null">
                foods_score,
            </if>
            <if test="image != null and image !=''">
                foods_image,
            </if>
            <if test="categoryId != null">category_id,</if>
            <if test="shopsId != null">shops_id,</if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name !=''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="score != null">
                #{score,jdbcType=DOUBLE},
            </if>
            <if test="image != null and image !=''">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null ">
                #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="shopsId != null ">
                #{shopsId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATETIME},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATETIME},
            </if>
        </trim>
    </insert>



    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM foods
        WHERE id = #{recordId}
    </delete>



    <!--查单个店铺所有-->

    <select id="findByShopsId" parameterType="java.lang.String" resultMap="FoodsVoMap">
        select
        <include refid="Vo_Column_List"/>
        from foods where shops_id = #{shopsId}
    </select>


    <!--*根据分类和店铺查所有商品ID-->

    <select id="findByShopsIdAndCategoryId" resultType="java.lang.Long">
        select id from foods
        where

        <if test="shopId != null">  shops_id = #{shopId}</if>
        <if test="categoryId != null">AND category_id = #{categoryId}</if>

    </select>


    <select id="findFoodById" parameterType="java.lang.Long" resultMap = "FoodsVoMap">
        select
        <include refid="Vo_Column_List"/>
        from foods where id = #{foodId}
    </select>


</mapper>