<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eatwhat.dao.SellerMapper">
    <resultMap id="BaseResultMap" type="com.eatwhat.entity.Seller">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="foods_name" property="foodsName" jdbcType="VARCHAR"/>
        <result column="shops_id" property="shopsId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        foods_name,
        shops_id,
        create_time,
        update_time
    </sql>

    <!--根据id查询-->
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from seller
        where id = #{recordId}
    </select>


    <!--根据id集合查询-->
    <select id="findByParams" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from seller
        <if test="seller !=null">
            <where>
                <if test="seller.id != null">AND id = #{seller.id}</if>
                <if test="seller.foodsName != null and seller.foodsName !='' ">AND foods_name like CONCAT('%',#{seller.foodsName},'%')</if>
                <if test="seller.shopsId != null">AND shops_id = #{seller.shopsId}</if>
                <if test="seller.createTime != null">AND create_time = #{seller.createTime}</if>
                <if test="seller.updateTime != null">AND update_time = #{seller.updateTime}</if>
            </where>
        </if>
        <if test="pageRequest != null">
            <choose>
                <when test="pageRequest.sortList != null">
                    <foreach collection="pageRequest.sortList" open="order by" item="sort" separator=",">
                    ${sort.jdbcField} ${sort.sortType}
                    </foreach>
                </when>
                <otherwise>
                    order by id desc
                </otherwise>
            </choose>
            <if test="pageRequest.offset != null and pageRequest.pageSize != null">
                limit #{pageRequest.offset}, #{pageRequest.pageSize}
            </if>
        </if>
    </select>


    <!--根据参数分页查询-->
    <select id="findByIdArr" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM seller
        WHERE id IN
        <foreach collection="idArr" open="(" close=")" item="recordId" separator=",">
            #{recordId}
        </foreach>
    </select>


    <!--根据条件计数-->
    <select id="count" resultType="int">
        SELECT
        COUNT(id)
        FROM seller
            <where>
                <if test="id != null">AND id = #{id}</if>
                <if test="foodsName != null and foodsName !='' ">
                    AND foods_name like CONCAT('%',#{foodsName},'%')
                </if>
                <if test="shopsId != null">AND shops_id = #{shopsId}</if>
                <if test="createTime != null">AND create_time = #{createTime}</if>
                <if test="updateTime != null">AND update_time = #{updateTime}</if>
            </where>
    </select>


    <!--添加-->
    <insert id="saveSeller" parameterType="com.eatwhat.entity.Seller" useGeneratedKeys="true"
            keyProperty="id">
        insert into seller
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="foodsName != null and foodsName !=''">
                foods_name,
            </if>
            <if test="shopsId != null">
                shops_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="foodsName != null and foodsName !=''">
                #{foodsName,jdbcType=VARCHAR},
            </if>
            <if test="shopsId != null">
                #{shopsId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATETIME},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATETIME},
            </if>
        </trim>
    </insert>


    <!--修改-->
    <update id="updateSeller" parameterType="com.eatwhat.entity.Seller">
        update seller
        <set>
            <if test="foodsName != null and foodsName !=''">
                foods_name = #{foodsName,jdbcType=VARCHAR},
            </if>
            <if test="shopsId != null">
                shops_id = #{shopsId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATETIME},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=DATETIME},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM seller
        WHERE id = #{recordId}
    </delete>


    <!--根据id集合删除-->
    <delete id="deleteByIdArr">
        DELETE FROM seller
        WHERE id IN
        <foreach collection="idArr" open="(" close=")" item="recordId" separator=",">
            #{recordId}
        </foreach>
    </delete>

</mapper>